*{
    padding: 0;
    margin: 0;
}
html {
    height:100%;
    box-sizing: border-box;
  }
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }  
.page_Wrapper{
    background-color:white ;
    width: 100%;
}
.main_paragraph{
    margin:0 0 2% 0;
}
.nav_section{
    background-color:#35424a;
    max-height: 90px;
    display: grid;
    grid-template-columns: 20% 50% 30%;
}
.content-text{
    margin: 2% 3% 1% 5%;
    font-size: 20px;
}
.main_title{
    margin: 0 1% 2% 16%;
    line-height: 5rem;
    font-size: 25px;
    color:white;
    font-weight: bolder;
}
.it{
    color:yellowgreen;
    font-size: 25px;
}
/*Menu Style*/
.menu_bar{
    position: absolute;
    right:100px;
}
.menu_bar li .active{
    color: yellowgreen;
    font-size: 25px;
}
.menu_bar li{
   list-style: none;
   float:left;
   line-height: 6rem;
   display: block;
   padding-left: 30px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
a:hover{
   cursor: pointer;
   color: blue;
}
ul li:hover ul li{
    padding: 0;
    line-height: 50px;
    float: none;
    display:block;
    background-color: blue;
}
.username{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    background-color: gray;
    display: block;
    margin-top: 5%;
}
.dropbtn {
    background-color: #35424a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    list-style: none;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    height: 60px;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 /*---the main container styles*/

.main_container{
    margin: 0 5% 0 5%;
}
.main_container .main_content{
    margin: 5% 0 0 5%; 
    display: grid;
    grid-template-columns: auto auto ;
} 
.fixer{
    clear: both; margin-bottom: 20px;
}
.field_container{
    width: 70%;
    margin: 2.5% 0 0 13.5%;
    border: 1px solid beige;
    box-shadow: 0px 0px 6px 1px;
    border-radius: 15px;
}
.get_started{
    margin: 3% 0 0 1%;
}
.btn{
    width: 50%;
    height: 40px;
    background-color: #35424a;
    line-height: 30px;
    text-align: center;
    font-weight: bolder;
    border-radius: 4.5px;
    text-decoration: none;
    opacity:0.8
}
/* input styles */

.btn_form{
    position: relative;
    display: block;
    font-weight: bolder;
    left:64%;
    width:40%;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    opacity: 0.9;
}
.btn_form:hover{
    color: white;
    font-weight: bolder;
}
.formlink{
    color: blue;
}
.main_text{
    font-size: 28px;
    margin-left:33.1%;}
.text-field{
    display: block;
    width: 50%;
    border-radius: 10px;
    margin: 3% 25% 5% 25% ;
}
.text-search{
    padding: 10px;
}
.text_form{
    font-size: 1.2em;
    padding: 5px 0 5px 0;
}
input[type=text], input[type=password],textarea{
    width: 100%;
    padding: 2px 2px 2px 15px;
    min-height: 35px;
    box-shadow: 0px 0px 1px 1px #35424a;
    border: none;
    margin: 2% 0 2% 0;
    border-radius: 5px; 
    font-size: 18px;
}
textarea{
    min-height: 80px;
    width:100%;
}
input[type=text]:focus, input[type=password]:focus{
    box-shadow: 0px 0px 2px 2px whitesmoke; 
}

/*footer style*/

.footer_section{  
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #35424a;
       text-align: center; }
h4{
    text-align: center;
    line-height: 50px;
}


/*--- announce div style*/

.annaunceDiv{
    display:block;
    margin: 8px 0 0 6px;
}
#delete_btn{
    color: red;
    border-style: none;
    background-color: white;
    width: 70px;
    cursor: pointer;
    font-size: 18px;
    height: 20px;
    font-weight: bolder;
}
#status{
    font-size: 20px;
    font-weight: bolder;
}
.annaunce-item{
    margin: 3.3% 0 0 20%;
    border-radius: 5px;
    width: 60%;
}
.announcePart{
    width: 95%;
    box-shadow: none;
    margin: 1%;
}
.writer{
    margin: 5% 0 0 0%;
}
.announce_title{
    color:#35424a;
    margin-bottom: 5%;
}
.announcelink-div{
    display: grid;
    grid-template-columns: 20% 70%;
    margin-top: 10%;
    border-top: 1px solid #35424a;
}
.announcelink{
    color: black;
    color:black;
    margin-left: 3%;

}
.announcelink span{
    color:green;
}
.text_announce{
    padding:15px 0 15px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
}
#search-div{
    margin: 2% 0 0 20%;
    width: 40%;
    height: 30px;
    border-radius:5px;
    font-size: 18px;
    box-shadow: 0 0p 2px 1px #35424a;
}
#search-btn{
    height: 30px;
    width: 100px;
    border-radius:5px;
    cursor: pointer;
}
/* media queries */
@media screen and (max-width: 768px){

.main_container .main_content{ 
    display:block;
    }
.content-text{
     margin: 2% 3% 1% 2%;
    }
.menu_bar{
    display: none;
    }
.field_container{
    width:90%;
    margin:4% 1% 1% 5%;
    }
 .main_text{
    margin-left:15%;
    font-size: 23px;
    }
.text-field{
    width: 100%;
    margin:4% 5% 4% 10%;
    }
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
     width: 80%;
     font-size: 1.3em;
      }
.btn_form{
     left:0;
      }
.btn{
      width: 50%;
      }
.annaunceDiv{
     display: block;

      }
.announceapp{
     margin-bottom: 10%;
      }
.announce_btn{
     left:3%;
      }
      .announcelink-div{
          display: block;
      }
      .annaunce-item{
        margin: 3.3% 0 0 8%;
        width: 80%;
    }
      #search-div{
        margin: 2% 0 0 12%;
        width: 54%;
    }
    .dropdown{
        display:block;
        color:white;
    }
    .dropdown-content{

        background-color: rgba(0,0,0, 0.9); 
    }
} 